.home-wrapper {
  margin: 42px auto;
  padding: 72px 48px;
  background: #fff;
  border-bottom: 1px solid lighten(#333, 70%);
  border-radius: 4px;
}


.card-buttons {
  width: auto;
  position: relative;
  justify-content: space-between;

  img {
    width: 280px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
    z-index: 0;
  }

  a {
    z-index: 2;
  }  
}

.card-body {
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;

  h1 {
    color: #fff;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    position: absolute;
    left: 25%;
    text-transform: uppercase;
    z-index: 3;
    pointer-events: none;
    transition: all 3s;       
  }

}

.card-body:hover {
  h1 {
    transform: translateY(-20px);
    transition: all 1s;
  }

}

.card-2 {
  p {
    left: 20%;
  }
}

.opening-hours {
  background-color: #ff6b6b;
  border-radius: 5px;
  width: auto;
  height: 120px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-family: 'Oswald', sans-serif;

  h2 {
    margin: 0;
    padding-top: 20px;
  }
}


.main-carousel {
  margin-top: 105px;
  height: 200px;
}

.carousel-cell {
  padding: 12px;
}

.box {
  display: flex;
  justify-content: space-around;
}

.box-description {
  flex: 0 0 66%;
  padding-left: 24px;

  h2{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
  }

  p{
    font-family: 'Lato', sans-serif;
  }
}

.box-image img {
  flex: 0 0 33%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;  
}

.gallery {
  margin-top: 108px;
  display: inline-block;
  width: 100%;  
}

.row {
  display: flex;   
}

.images-container { 
  padding: 5px;
  width: 100%;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;

  img {
    height: 170px;
    width: 170px;
    object-fit: cover;
    z-index: 0;
    border-radius: 5px;
  }

  .icon-container {
    position: absolute;
    left: 40%;
    visibility: hidden;
    transition: transform 0.5s ease-out;
    z-index: 5;

    .icon {
      color: #fff;
      font-size: 12px;            
    }   
  }  
}

.image:hover {
  .icon-container {
    visibility: visible;
    transform: scale(3);    
  }

  .icon:hover {
    color: #ff6b6b;
  }
}

.image:hover::after {
  content: '';
  display: flex;
  position: absolute;
  height: 170px;
  width: 170px;
  opacity: 0.3;
  background: black;
  z-index: 3; 
}  

.instagram-link {
  color: #ff6b6b;
}

@media (max-width: 768px) and (max-width: 991px){
  .row {
    flex-direction: column;
    justify-content: center;
  }

  .card-body {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
  }
}